/** CSS resets **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SRGSSR_Display';
  src: url('../font/SRGSSR_Display.ttf') format('truetype');
}

@font-face {
  font-family: 'SRGSSR_Text';
  src: url('../font/SRGSSR_Text.ttf') format('truetype');
}

/* Roots */
:root {
  --red: #af001d;
  --pink: #ff259b;
  --orange: #ff531b;
  --gray: #333333;
  --withe: #FFFFFF;
}

/* Basics */
html,
body {
  background: linear-gradient(305deg, rgba(255, 83, 27, 1) 10%, rgba(255, 37, 155, 1) 50%, rgba(175, 0, 29, 1) 90%);
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  font-family: 'SRGSSR_Display';
}

main {
  display: flex;
  justify-content: center;
  padding: 0vh 10vw;
  min-height: 75vh;
}

/* @media screen and (max-width:1020px) {
  main {
    padding: 0vh 8vw;
  }
} */

img{
  object-fit: contain;
}

/* Typography */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  color: #333333;
  max-width: 60vw;
}

h1 {
  font-family: 'SRGSSR_Display';
  font-size: 96px;
  font-weight: 700;
  color: white;
  padding-bottom: 20px;
}

h2 {
  font-family: 'SRGSSR_Display';
  font-size: 64px;
  font-weight: 700;
  color: white;

}

h3 {
  font-family: 'SRGSSR_Display';
  font-size: 32px;
  font-weight: 400;
  color: white;
  padding-bottom: 10px;
  padding-top: 20px;
}


@media screen and (max-width:1020px) {
  p {
    font-size: 16px;
    line-height: 24px;
  }

  h1{
    font-size: 78px;
  }

  h3 {
    font-size: 28px;
  }
  
}

@media screen and (max-width:780px) {
  p {
    font-size: 16px;
    line-height: 20px;
  }

  h1{
    font-size: 64px;
  }
  h3 {
    font-size: 24px;
  }
}



/**----------------------------------------------------------**/
/** header **/
/**--------**/

/* desktop */
/* background of header */
header {
  background-color: var(--gray);
  margin-bottom: 5vh;
}

/* links in header */
li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

/* active page */
.nav-on {
  color: var(--pink);
}

/* hover link */
.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--pink);
  font-size: 40px;
}

/* layout nav */
.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 7vw;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* logo nav */
.nav-branding img {
  width: 15vw;
}

/* burger icon */
.hamburger {
  display: none;
  cursor: pointer;
}

/* mobile */
/* burger icon */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--withe);
}

@media screen and (max-width:750px) {
  header {
    width: 100vw;
    z-index: 1;
    display: block;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--gray);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  }

  .nav-branding img {
    width: 25vw;
  }
}


/**-----------------------------------------------------**/
/** desktop styles **/
/**----------------**/

/* buttons */
button {
  background-color: var(--gray);
  padding: 1%;
  border: var(--withe) 1px solid;
  font-family: 'SRGSSR_Display';
  font-size: 36px;
  font-weight: 400;
  box-shadow: 0px;
}

button:hover {
  box-shadow: 0px 0px 15px var(--gray);
}

#more a {
  font-family: 'SRGSSR_Display';
  font-size: 24px;
  font-weight: 400;
  color: black;
}

#more svg {
  size: 50vh;
}

/* article styles */
article {
  padding-bottom: 5vh;
}

article.text-picture div figure {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding-bottom: 5vh;
}

figure.persona{
  padding-bottom: 0 !important;
  margin-bottom: 5vh;xw
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SWOT figure{
  background-color: #FFFFFF;
  max-width: 40vw;
  display: flex;
  justify-content: center;
  padding-bottom: 0px !important;
  margin-bottom: 5vh;
}
article.text-picture div img {
  max-width: 35vw;
}

@media screen and (max-width:1020px) {
  article.text-picture div img {
    max-width: 60vw;
  }
}

@media screen and (max-width:750px) {
  article.text-picture div img {
    max-width: 86vw;
  }
}

/**--------**/
/** home page **/
/**--------**/
/* video styles */
video {
  max-width: 86vw;
}

#video {
  display: flex;
  justify-content: center;
}

/* poster styles */
#poster {
  display: flex;
  gap: 5vw;
  max-width: 86vw;
  padding-top: 5vh;
}

@media screen and (max-width:1020px) {
  #poster {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }

  #poster img {
    width: 70vw;
  }
}
@media screen and (max-width:750px) {
  #poster img {
    min-width: 86vw !important;
  }
}


#poster img {
  width: 50vw;
}

/* podcast preview */
.podcast-prev {
  display: flex;
  flex-direction: column;
  padding-bottom: 10vh;
}

.podcast-prev audio {
  width: 100%;
  height: auto +5%;
}


/**--------**/
/** marketing page **/
/**--------**/
figure.persona {
  background-color: white;
}

/**--------**/
/** Team page **/
/**--------**/
/* .text-container {

  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: fit-content;
} */

img.portrait {
  width: 20vw;
  height: 20vw;
  padding-bottom: 10px;
  object-fit: cover;
  align-self: center !important;
}

@media screen and (max-width:1020px) {
  img.portrait {
    width: 40vw;
    height: 40vw;
  }
}

@media screen and (max-width:750px) {
  img.portrait {
    width: 50vw;
    height: 50vw;
  }
}

.team-container {
  display: flex;
  justify-content: center;
  padding: 5vh 5vw;
  flex-wrap: wrap;
}

article.team {
  padding-right: 5vw;
  width: 30vw;
}

@media screen and (max-width:1020px) {
  .team-container {
    display: flex;
    justify-content: center;
    margin: 5vh 5vw;
  }

  article.team {
    width: auto;
  }
}

/**--------**/
/** Footer **/
/**--------**/

/* desktop */
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--gray);
  padding: 1%;
}

footer p {
  color: var(--withe);
  font-size: 30px;
  font-family: 'SRGSSR_Display';
}

/* mobile */
@media screen and (max-width:750px) {
  footer p {
    font-size: 15px;
  }
}